<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Controlador</servlet-name>
        <servlet-class>Controlador.Controlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorPer</servlet-name>
        <servlet-class>Controlador.ControladorPer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorCategoria</servlet-name>
        <servlet-class>Controlador.ControladorCategoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>Controlador.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorRol</servlet-name>
        <servlet-class>Controlador.ControladorRol</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorRo</servlet-name>
        <servlet-class>Controlador.ControladorRo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorRolUsu</servlet-name>
        <servlet-class>Controlador.ControladorRolUsu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorUsuario</servlet-name>
        <servlet-class>Controlador.ControladorUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorTelefono</servlet-name>
        <servlet-class>Controlador.ControladorTelefono</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorEmail</servlet-name>
        <servlet-class>Controlador.ControladorEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorContacto</servlet-name>
        <servlet-class>Controlador.ControladorContacto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorVendedor</servlet-name>
        <servlet-class>Controlador.ControladorVendedor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorCarrito</servlet-name>
        <servlet-class>Controlador.ControladorCarrito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorFactura</servlet-name>
        <servlet-class>Controlador.ControladorFactura</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorProducto</servlet-name>
        <servlet-class>Controlador.ControladorProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorCliente</servlet-name>
        <servlet-class>Controlador.ControladorCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorPedido</servlet-name>
        <servlet-class>Controlador.ControladorPedido</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorVenta</servlet-name>
        <servlet-class>Controlador.ControladorVenta</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controlador</servlet-name>
        <url-pattern>/Controlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorPer</servlet-name>
        <url-pattern>/ControladorPer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorCategoria</servlet-name>
        <url-pattern>/ControladorCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorRol</servlet-name>
        <url-pattern>/ControladorRol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorRo</servlet-name>
        <url-pattern>/ControladorRo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorRolUsu</servlet-name>
        <url-pattern>/ControladorRolUsu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorUsuario</servlet-name>
        <url-pattern>/ControladorUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorTelefono</servlet-name>
        <url-pattern>/ControladorTelefono</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorEmail</servlet-name>
        <url-pattern>/ControladorEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorContacto</servlet-name>
        <url-pattern>/ControladorContacto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorVendedor</servlet-name>
        <url-pattern>/ControladorVendedor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorCarrito</servlet-name>
        <url-pattern>/ControladorCarrito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorFactura</servlet-name>
        <url-pattern>/ControladorFactura</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorProducto</servlet-name>
        <url-pattern>/ControladorProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorCliente</servlet-name>
        <url-pattern>/ControladorCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorPedido</servlet-name>
        <url-pattern>/ControladorPedido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorVenta</servlet-name>
        <url-pattern>/ControladorVenta</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
