* {box-sizing: border-box}
/*-----------------
  Admin SideNav
  -----------------*/

/* Style the tab */
.tab {
  float: left;
  background-color: #05477A;
  width: 18%;
  height: 100%;
  min-width: 200px;
  position: sticky;
  top: 0;
}
/* Style the buttons that are used to open the tab content */
.tab button {
  display: block;
  background-color: inherit;
  color: #EFEFEF;
  padding: 10px 10px;
  width: 100%;
  border: 1px;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #001B2E;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #001B2E;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  width: 80%;
  border-left: none;
  height: inherit;
  display:none;
}

/* Administrador */
.admin {
  background-color:#001B2E;
  color: #EFEFEF;
  text-align: center;
  font-size: 20px;
  padding: 10px 10px;
}

.tab .contents {
 margin-left: 250px;
 position: fixed;
}

/*----------------
  Customer SideNav
  ----------------*/

  /* The side navigation menu */
.sidenav {
 height: 40%; /* 100% Full-height */
 width: 45px; /* 0 width - change this with JavaScript */
 position: fixed; /* Stay in place */
 z-index: 1; /* Stay on top */
 top: 58px; /* Stay at the top */
 left: 0;
 background-color: #05477A;
 overflow-x: hidden; /* Disable horizontal scroll */
 padding-top: 0px; /* Place content 60px from the top */
 transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
 text-decoration: none;
 font-size: 17px;
 color: #EFEFEF;
 display: block;
 transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
 color: #EFEFEF;
}

/* Position and style the close button (top right corner)
.sidenav .closebtn {
 position: absolute;
 float: left;
 top: 25px;
 font-size: 17px;
 padding-left: 15px;
} */

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
 transition: margin-left .5s;
 padding-left: 45px;
 height: 75%;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
 .sidenav {padding-top: 15px;}
 .sidenav a {font-size: 18px;}
}

/*Cards*/
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  background-color: #C4CAD0;
  color: #001B2E;
  max-width: 40%;
  min-width: 300px;
}

/*Cards*/
.cardorder {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  background-color: #C4CAD0;
  color: #001B2E;
  max-width: 25%;
  min-width: 250px;
}

/* Add rounded corners to the top left and the top right corner of the image */
img.cardorder {
  border-radius: 5px 5px 0 0;
  min-width: 250px;
}
